* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, Arial, sans-serif;
  background-color: rgb(46 163 78 / 43%);
}

/**
  * Loading
  */
#app > .loading {
  background: linear-gradient(45deg, rgb(224, 203, 81, 0.5), transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}
#app > .loading > h2 {
  color: rgb(247, 247, 247);
  text-align: center;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/**
  * AR overlay
  */
#app > #ar-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}
#app > #ar-overlay > .xr-end-session-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 0.3em 0.5em;
  font-size: 3rem;
  text-shadow: 1px 1px #919091;
  color: #fff;
}
#app > #ar-overlay > .hand-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}
#app > #ar-overlay > .hand-wrapper > .hand-animation {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  animation: linear infinite alternate;
  animation-name: scan;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  margin: 1em 0;
  width: auto;
  transform: rotateX(35deg) rotateY(-9deg) rotateZ(5deg);
}
#app > #ar-overlay > .hand-wrapper > span {
  color: rgb(247, 247, 247);
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px #444244;
}

@keyframes scan {
  0% {
    left: -8%;
  }
  100% {
    left: 8%;
  }
}

/**
  * Intro
  */
#app > .introduction {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  position: absolute;
  z-index: 1;
  width: 100%;
}
#app > .introduction > h1,
p {
  color: rgb(247, 247, 247);
}
#app > .introduction p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  padding: 0.8em;
  margin: 1.5em;
  border-radius: 8px;
  background-color: rgb(11 12 10 / 20%);
}
#app > button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 31, 0.9);
  border: 1px solid #fff;
  padding: 1.5em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/**
  * WebAR
  */
#ARButton {
  border: 2px solid rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255) !important;
}

/**
  * ThreeJS
  */
#experience {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  outline: none;
}
